<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="./blog.css">
</head>

<h1>Blogpost</h1>
<a href="/blog/create" class="btn btn-primary">Create post</a>

    {{#if somethingWentWrong}}
        <p>Internal server error</p>
    {{/if}}
    {{#if blogPost}}
        {{#each blogPost}}
          <div id="blog" class="container jumbotron">
            <h3>{{postTitle}}</h3>
            <p>{{postComment}}</p>
            <hr>
            <p>Posted by: <a href="">Gran</a></p>
            <p>Posted on {{blogDate}}</p>
            <a href="" class="btn btn-primary">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>
          </div>
        {{/each}}
    {{else}}
        <p>No blogposts</p>
    {{/if}}




<!--<div class="container">
  <div id="blogpost" class="card mb-4">
    <img class="card-img-top" src="{{blogLinkToPic}}" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{blogTitle}}</h2>
      <p class="card-text">{{blogComment}}</p>
      <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
      Posted on September 29, 2019 by
      <a href="#">Erik Granlund</a>
    </div>
  </div>
</div>-->