{{#if validationErrors.length}}
	<p>Errors:</p>
	<ul>
		{{#each validationErrors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}

<h1>Edit guestbook</h1>

<form method="POST" class="container" action="/adminpage/manageguestbook/editguestbook/{{guestbookPost.postId}}">
    <div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Post name</label>
            <input class="form-control" name="guestName" value="{{guestbookPost.guestName}}" id="exampleFormControltitle" placeholder="Write Your name here...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Subject</label>
            <input class="form-control" name="guestSubject" value="{{guestbookPost.guestSubject}}" id="exampleFormControlSubject" placeholder="Write subject here...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Content</label>
            <textarea name="guestContent" class="form-control"  id="exampleFormControlTextarea1" placeholder="write content here..." rows="3">{{guestbookPost.guestContent}}</textarea>
        </div>
        <div>
            <button type="submit" value="create post" class="btn btn-primary">Edit</button>
        </div>
        <hr>
            <a href="/guestbook" class="btn btn-primary">See posts</a>
    </div>
</form>
