<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="./blog.css">
</head>

<h1>Blogpost</h1>
{{#if isLoggedIn}}  
<a href="/blog/create" class="btn btn-primary">Create post</a>
  
    {{#if somethingWentWrong}}
        <p>Internal server error</p>
    {{/if}}
    {{#if blogPost}}
        {{#each blogPost}}
          <div id="blog" class="container jumbotron">
            <h3>{{postTitle}}</h3>
            <p>{{postComment}}</p>
            <hr>
            <p>Posted by: <a href="">Gran</a></p>
            <p>Posted on {{blogDate}}</p>
            <a href="/blog/{{blogId}}" class="btn btn-primary">Read More</a>
            <a href="/adminpage/manageblog/edit/{{blogId}}" class="btn btn-secondary">edit</a>
            <form action="/adminpage/manageblog/deleteById/{{blogId}}" method="POST">
            <input type="hidden" name="_csrf" value="{{../csrfToken}}">
              <input type="submit" value="delete" class="btn btn-danger">
            </form>
            
            
            
          </div>
        {{/each}}
    {{else}}
        <p>No blogposts</p>
    {{/if}}
{{else}}
  <p>You have to be logged in!</p>
{{/if}}
