<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./portfolio.css">
    <title>Portfolio</title>
</head>

<body>
    {{#if isLoggedIn}}
    <h1>Manage Projects</h1>
    <table id="table" class="table table-striped col-md-6 ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">name</th>
                <th scope="col">link</th>
                <th scope="col">edit</th>
                <th scope="col">delete</th>
            </tr>
        </thead>
        {{#if projects.length}}
            {{#each projects}}
                <tbody>
                    <tr>
                        <td>{{projectId}}</td>
                        <td>{{projectName}}</td>
                        <td><a href="{{projectLink}}" target="_blank">Link to project</a></td>
                        <td><a href="/adminpage/manageportfolio/editprojects/{{projectId}}" class="btn btn-secondary">edit</a></td>
                        <td>
                            <form action="/adminpage/manageportfolio/delete/{{projectId}}" method="POST">
                                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                <input type="submit" value="delete" class="btn btn-danger">
                            </form> 
                        </td>

                    </tr>
                </tbody>                
            {{/each}}
        {{else}}
            <tbody>
                    <tr>
                        <td>There </td>
                        <td>are </td>
                        <td>no</td>
                        <td>projects</td>
                        <td>to show!</td>
                        
                    </tr>
                </tbody>   
        {{/if}}
        
        
    </table>
    {{else}}
    <p>must be logged in!</p
    {{/if}}>
   
</body>

