<head>
    <link rel="stylesheet" type="text/css" href="./guestbook.css">
</head>

{{#if isLoggedIn}}
    {{#if somethingWentWrong}}
        <p>Internal server error</p>
    {{/if}}
    {{#if guestbook.length}}
        {{#each guestbook}}
            <div class="container jumbotron">
                <h2>{{guestName}}</h2>
                <h4>{{guestSubject}}</h4>
                <p class="lead">{{guestContent}}</p>
                <a href="/adminpage/manageguestbook/editguestbook/{{postId}}" class="btn btn-secondary">Edit</a>
                <form action="/adminpage/manageguestbook/delete/{{postId}}" method="POST">
                    <input type="submit" value="delete" class="btn btn-danger">
                </form> 
                <hr class="my-4">
            </div>
        {{/each}}
    {{else}}
        <p>No guestbook posts</p>
    {{/if}}
{{else}}
<p>You have to be logged in!</p>
{{/if}}
